/* Target the input field */
.dark-theme-datepicker {
    background-color: #2e2e2e;
    color: #fff;
    border: 1px solid #555;
  }
  
  /* Target the calendar popup */
  .dark-theme-calendar.react-datepicker {
    background-color: #2e2e2e;
    border: 1px solid #555;
    color: #fff;
  }
  
  .dark-theme-calendar .react-datepicker__header {
    background-color: #3a3a3a;
    border-bottom: 1px solid #555;
  }
  
  .dark-theme-calendar .react-datepicker__current-month,
  .dark-theme-calendar .react-datepicker-time__header,
  .dark-theme-calendar .react-datepicker-year-header {
    color: #fff;
    font-size: 1.3em; /* Make the current month smaller */
    margin-bottom: 0;
  }
  
  .dark-theme-calendar .react-datepicker__day,
  .dark-theme-calendar .react-datepicker__day-name,
  .dark-theme-calendar .react-datepicker__time-name {
    color: #ddd;
  }
  
  .dark-theme-calendar .react-datepicker__day:hover,
  .dark-theme-calendar .react-datepicker__month-text:hover,
  .dark-theme-calendar .react-datepicker__quarter-text:hover,
  .dark-theme-calendar .react-datepicker__year-text:hover {
    background-color: #555;
  }
  
  .dark-theme-calendar .react-datepicker__day--selected,
  .dark-theme-calendar .react-datepicker__month-text--selected,
  .dark-theme-calendar .react-datepicker__quarter-text--selected,
  .dark-theme-calendar .react-datepicker__year-text--selected {
    background-color: #1a73e8;
    color: #fff;
  }
  
  .dark-theme-calendar .react-datepicker__navigation--previous,
  .dark-theme-calendar .react-datepicker__navigation--next {
    color: #fff;
  }
  
  .dark-theme-calendar .react-datepicker__navigation-icon::before {
    border-color: #fff;
  }
  
  .dark-theme-calendar .react-datepicker__triangle {
    display: none;
  }
