/* src/App.css */
.app {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #000000, #333333);
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.app h1,
.app h2,
.app h3 {
  color: #fff;
}

.app h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.app-header h1 {
  display: flex;
  align-items: center;
}

.ntfy-settings-button {
  background: none;
  border: none;
  color: #4a90e2;
  font-size: 0.8em;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.ntfy-settings-button:hover {
  color: #6aa9f4;
}

.currency-settings-button {
  background: none;
  border: none;
  color: #4a90e2;
  font-size: 0.8em;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.currency-settings-button:hover {
  color: #6aa9f4;
}
