body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.react-calendar {
  border: none;
}

.react-calendar__navigation button {
  min-width: 44px;
}

.react-calendar__tile {
  max-width: initial !important;
}
